lib/*
libs/*
build/*
.vscode/
*.hex
*.eep
*.elf
*.bin
.DS_Store
1.8.6
libraries
tools/image-converter.py 
CreatureGathererFX.ino.with_bootloader.bin
tools/creature_builder/*
imgui.ini
src/fxdata/images/npc_16x16.png:Zone.Identifier
*.o
*png:Zone.Identifier
fxdata/generated/*
fxdata/Sprites.txt
media/*
imgui.ini
*.o
*.o.*
Notes/.obsidian
tst/fxdatatest/src/*
*__pycache__
*tiled-*
Arduboy*

!src/external/ArduboyG.h
